<div class="container mt-5">
    
    <h3 class="h3 text-center">Mis bonsais</h3>
       
    <div class="row mt-4">
        <div class="row mb-2">
            <div class="col-lg-auto">
                <div class="input-group">
                    <label class="input-group-text" for="pageNumSelect">Numero de elementos</label>
                    <select [(ngModel)]="pageSize" (change)="updatePageSize()" class="form-select form-select-sm" id="pageNumSelect">
                        <option [value]="i" *ngFor="let i of pageSizeOptions">{{i}}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="input-group">
                    <label class="input-group-text" for="sortBySelect">Ordenar por</label>
                    <select [(ngModel)]="sortBy" (change)="updatePageSize()" class="form-select form-select-sm" id="sortBySelect">
                        <option value="creationDate">Fecha de creación</option>
                        <option value="name">Nombre</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md-auto">
                <div class="input-group">
                    <label class="input-group-text" for="filterByStyleSelect">Mostrar</label>
                    <select class="form-select form-select-sm" id="filterByStyleSelect">
                        <option value="creationDate">Fecha de creación</option>
                        <option value="name">Nombre</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>
            <div class="col-md d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="" class="btn btn-primary">Agregar Bonsai</a>
            </div>
        </div>
        <div class="col-md-6">
            <div *ngFor="let bonsai of bonsaiModelList" class="mb-1">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-3">
                            <img src="{{bonsai.thumbnailImage}}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <h5 class="card-title">{{bonsai.name}}</h5>
                                <div class="card-text">
                                    <ul>
                                        <li *ngIf="bonsai.id != null">
                                            <b>Id</b> {{bonsai.id}}
                                        </li>
                                        <li *ngIf="bonsai.bonsaiStyle != null">
                                            <b>Estilo</b> {{getBonsaiStyleValue(bonsai)}}</li>
                                        <li *ngIf="bonsai.bonsaiType != null">
                                            <b>Tipo</b> {{getBonsaiTypeValue(bonsai)}}</li>
                                        <li *ngIf="bonsai.creationDate != null">
                                            <b>Estilo</b> {{getBonsaiStyleValue(bonsai)}}</li>
                                    </ul>
                                </div>
                                <button class="btn btn-secondary-sm">Editar</button>
                                <button class="btn btn-secondary-sm">Eliminar</button>
                                <p class="card-text"><small class="text-muted">Última actualización </small></p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div> 
            <div class="container">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" (click)="getBonsaiPage(0)" [routerLink]="" aria-label="Previous"> <span aria-hidden="true">&laquo;</span></a>
                        </li>
                        <li class="page-item" *ngFor="let i of pageNumbers">
                            <a class="page-link" (click)="getBonsaiPage(i)" [routerLink]="">{{i}}</a></li>
                        <li class="page-item">
                            <a class="page-link" (click)="getBonsaiPage(totalPages - 1)" aria-label="Next"> <span aria-hidden="true">&raquo;</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-md-6">
            <app-bonsai-detail [bonsai]="bonsaiSelected"></app-bonsai-detail>
        </div>
    </div>
</div>

